In [1]:
#Data processing
import pandas as pd 
import numpy as np 
import time
#import geopandas as gdp
import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import adfuller
from pandas.plotting import autocorrelation_plot

In [2]:
df=pd.read_csv(r'G:/PROJECTS/Wildfire/fire data/fire_archive_M6_148600.csv')

In [4]:
df=df.drop(columns=['satellite','instrument'], axis=1)
df

,latitude,longitude,brightness,scan,track,acq_date,acq_time,confidence,version,bright_t31,frp,daynight,type
0,-5.9659,147.1301,310.2,3.9,1.8,2000-11-01,13,0,6.03,290.0,35.1,D,0
1,-18.6804,145.5470,317.3,2.9,1.6,2000-11-01,16,54,6.03,299.4,32.8,D,0
2,-18.4459,144.8904,324.6,3.2,1.7,2000-11-01,16,74,6.03,303.1,77.4,D,0
3,-18.4401,144.8603,317.7,3.3,1.7,2000-11-01,16,61,6.03,303.2,38.5,D,0
4,-18.4005,144.9007,318.8,3.2,1.7,2000-11-01,16,64,6.03,301.5,42.6,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1771382,42.0806,-8.2196,302.3,2.5,1.5,2001-11-01,2159,48,6.03,280.9,30.6,N,0
1771383,42.0876,-8.2180,305.3,2.5,1.5,2001-11-01,2159,64,6.03,280.6,39.9,N,0
1771384,51.4854,6.7186,300.4,1.8,1.3,2001-11-01,2200,28,6.03,278.6,19.3,N,2
1771385,49.7103,2.5315,302.2,1.2,1.1,2001-11-01,2200,47,6.03,271.2,12.0,N,0
1771386,53.5698,-0.5983,301.0,1.1,1.0,2001-11-01,2201,37,6.03,277.8,8.9,N,2

In [5]:
df.dtypes

latitude      float64
longitude     float64
brightness    float64
scan          float64
track         float64
acq_date       object
acq_time        int64
confidence      int64
version       float64
bright_t31    float64
frp           float64
daynight       object
type            int64
dtype: object

In [6]:
#df['acq_date']= pd.to_datetime(df['acq_date'])

In [7]:
df['daynight'] = pd.get_dummies(df['daynight'])

In [8]:
df

,latitude,longitude,brightness,scan,track,acq_date,acq_time,confidence,version,bright_t31,frp,daynight,type
0,-5.9659,147.1301,310.2,3.9,1.8,2000-11-01,13,0,6.03,290.0,35.1,1,0
1,-18.6804,145.5470,317.3,2.9,1.6,2000-11-01,16,54,6.03,299.4,32.8,1,0
2,-18.4459,144.8904,324.6,3.2,1.7,2000-11-01,16,74,6.03,303.1,77.4,1,0
3,-18.4401,144.8603,317.7,3.3,1.7,2000-11-01,16,61,6.03,303.2,38.5,1,0
4,-18.4005,144.9007,318.8,3.2,1.7,2000-11-01,16,64,6.03,301.5,42.6,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1771382,42.0806,-8.2196,302.3,2.5,1.5,2001-11-01,2159,48,6.03,280.9,30.6,0,0
1771383,42.0876,-8.2180,305.3,2.5,1.5,2001-11-01,2159,64,6.03,280.6,39.9,0,0
1771384,51.4854,6.7186,300.4,1.8,1.3,2001-11-01,2200,28,6.03,278.6,19.3,0,2
1771385,49.7103,2.5315,302.2,1.2,1.1,2001-11-01,2200,47,6.03,271.2,12.0,0,0
1771386,53.5698,-0.5983,301.0,1.1,1.0,2001-11-01,2201,37,6.03,277.8,8.9,0,2

In [9]:
for features in df.columns:
    
    print(features, df[features].unique())

latitude [ -5.9659 -18.6804 -18.4459 ...  42.1583  42.3331  42.0876]
longitude [147.1301 145.547  144.8904 ...  -6.9856  -6.7129  -8.218 ]
brightness [310.2 317.3 324.6 ... 472.6 463.6 470.3]
scan [3.9 2.9 3.2 3.3 4.1 4.5 1.2 1.1 2.6 1.3 2.4 1.7 1.6 1.4 3.  2.3 1.8 4.8
 2.1 2.2 4.6 2.7 3.1 2.5 3.8 1.  1.5 1.9 3.5 3.4 2.8 3.7 2.  4.4 4.3 3.6
 4.  4.7 4.2]
track [1.8 1.6 1.7 1.9 2.  1.1 1.5 1.3 1.2 1.4 1. ]
acq_date ['2000-11-01' '2000-11-02' '2000-11-03' '2000-11-04' '2000-11-05'
 '2000-11-06' '2000-11-07' '2000-11-08' '2000-11-09' '2000-11-10'
 '2000-11-11' '2000-11-12' '2000-11-13' '2000-11-14' '2000-11-15'
 '2000-11-16' '2000-11-17' '2000-11-18' '2000-11-19' '2000-11-20'
 '2000-11-21' '2000-11-22' '2000-11-23' '2000-11-24' '2000-11-25'
 '2000-11-26' '2000-11-27' '2000-11-28' '2000-11-29' '2000-11-30'
 '2000-12-01' '2000-12-02' '2000-12-03' '2000-12-04' '2000-12-05'
 '2000-12-06' '2000-12-07' '2000-12-08' '2000-12-09' '2000-12-10'
 '2000-12-11' '2000-12-12' '2000-12-13' '2000-12-14' '2000-12-15'
 '2000-12-16' '2000-12-17' '2000-12-18' '2000-12-19' '2000-12-20'
 '2000-12-21' '2000-12-22' '2000-12-23' '2000-12-24' '2000-12-25'
 '2000-12-26' '2000-12-27' '2000-12-28' '2000-12-29' '2000-12-30'
 '2000-12-31' '2001-01-01' '2001-01-02' '2001-01-03' '2001-01-04'
 '2001-01-05' '2001-01-06' '2001-01-07' '2001-01-08' '2001-01-09'
 '2001-01-10' '2001-01-11' '2001-01-12' '2001-01-13' '2001-01-14'
 '2001-01-15' '2001-01-16' '2001-01-17' '2001-01-18' '2001-01-19'
 '2001-01-20' '2001-01-21' '2001-01-22' '2001-01-23' '2001-01-24'
 '2001-01-25' '2001-01-26' '2001-01-27' '2001-01-28' '2001-01-29'
 '2001-01-30' '2001-01-31' '2001-02-01' '2001-02-02' '2001-02-03'
 '2001-02-04' '2001-02-05' '2001-02-06' '2001-02-07' '2001-02-08'
 '2001-02-09' '2001-02-10' '2001-02-11' '2001-02-12' '2001-02-13'
 '2001-02-14' '2001-02-15' '2001-02-16' '2001-02-17' '2001-02-18'
 '2001-02-19' '2001-02-20' '2001-02-21' '2001-02-22' '2001-02-23'
 '2001-02-24' '2001-02-25' '2001-02-26' '2001-02-27' '2001-02-28'
 '2001-03-01' '2001-03-02' '2001-03-03' '2001-03-04' '2001-03-05'
 '2001-03-06' '2001-03-07' '2001-03-08' '2001-03-09' '2001-03-10'
 '2001-03-11' '2001-03-12' '2001-03-13' '2001-03-14' '2001-03-15'
 '2001-03-16' '2001-03-17' '2001-03-18' '2001-03-19' '2001-03-20'
 '2001-03-21' '2001-03-22' '2001-03-23' '2001-03-24' '2001-03-25'
 '2001-03-26' '2001-03-27' '2001-03-28' '2001-03-29' '2001-03-30'
 '2001-03-31' '2001-04-01' '2001-04-02' '2001-04-03' '2001-04-04'
 '2001-04-05' '2001-04-06' '2001-04-07' '2001-04-08' '2001-04-09'
 '2001-04-10' '2001-04-11' '2001-04-12' '2001-04-13' '2001-04-14'
 '2001-04-15' '2001-04-16' '2001-04-17' '2001-04-18' '2001-04-19'
 '2001-04-20' '2001-04-21' '2001-04-22' '2001-04-23' '2001-04-24'
 '2001-04-25' '2001-04-26' '2001-04-27' '2001-04-28' '2001-04-29'
 '2001-04-30' '2001-05-01' '2001-05-02' '2001-05-03' '2001-05-04'
 '2001-05-05' '2001-05-06' '2001-05-07' '2001-05-08' '2001-05-09'
 '2001-05-10' '2001-05-11' '2001-05-12' '2001-05-13' '2001-05-14'
 '2001-05-15' '2001-05-16' '2001-05-17' '2001-05-18' '2001-05-19'
 '2001-05-20' '2001-05-21' '2001-05-22' '2001-05-23' '2001-05-24'
 '2001-05-25' '2001-05-26' '2001-05-27' '2001-05-28' '2001-05-29'
 '2001-05-30' '2001-05-31' '2001-06-01' '2001-06-02' '2001-06-03'
 '2001-06-04' '2001-06-05' '2001-06-06' '2001-06-07' '2001-06-08'
 '2001-06-09' '2001-06-10' '2001-06-11' '2001-06-12' '2001-06-13'
 '2001-06-14' '2001-06-15' '2001-07-03' '2001-07-04' '2001-07-05'
 '2001-07-06' '2001-07-07' '2001-07-08' '2001-07-09' '2001-07-10'
 '2001-07-11' '2001-07-12' '2001-07-13' '2001-07-14' '2001-07-15'
 '2001-07-16' '2001-07-17' '2001-07-18' '2001-07-19' '2001-07-20'
 '2001-07-21' '2001-07-22' '2001-07-23' '2001-07-24' '2001-07-25'
 '2001-07-26' '2001-07-27' '2001-07-28' '2001-07-29' '2001-07-30'
 '2001-07-31' '2001-08-01' '2001-08-02' '2001-08-03' '2001-08-04'
 '2001-08-05' '2001-08-06' '2001-08-07' '2001-08-08' '2001-08-09'
 '2001-08-10' '2001-08-11' '2001-08-12' '2001-08-13' '2001-08-14'
 '2001-08-15' '2001-08-16' '2001-08-17' '2001-08-18' '2001-08-19'
 '2001-08-20' '2001-08-21' '2001-08-22' '2001-08-23' '2001-08-24'
 '2001-08-25' '2001-08-26' '2001-08-27' '2001-08-28' '2001-08-29'
 '2001-08-30' '2001-08-31' '2001-09-01' '2001-09-02' '2001-09-03'
 '2001-09-04' '2001-09-05' '2001-09-06' '2001-09-07' '2001-09-08'
 '2001-09-09' '2001-09-10' '2001-09-11' '2001-09-12' '2001-09-13'
 '2001-09-14' '2001-09-15' '2001-09-16' '2001-09-17' '2001-09-18'
 '2001-09-19' '2001-09-20' '2001-09-21' '2001-09-22' '2001-09-23'
 '2001-09-24' '2001-09-25' '2001-09-26' '2001-09-27' '2001-09-28'
 '2001-09-29' '2001-09-30' '2001-10-01' '2001-10-02' '2001-10-03'
 '2001-10-04' '2001-10-05' '2001-10-06' '2001-10-07' '2001-10-08'
 '2001-10-09' '2001-10-10' '2001-10-11' '2001-10-12' '2001-10-13'
 '2001-10-14' '2001-10-15' '2001-10-16' '2001-10-17' '2001-10-18'
 '2001-10-19' '2001-10-20' '2001-10-21' '2001-10-22' '2001-10-23'
 '2001-10-24' '2001-10-25' '2001-10-26' '2001-10-27' '2001-10-28'
 '2001-10-29' '2001-10-30' '2001-10-31' '2001-11-01']
acq_time [  13   16   17 ... 1207 2339 1206]
confidence [  0  54  74  61  64  31  60  30  73  56  59  62  48  67  93 100  99  32
  95  96  90  84  87  75  39  83  66  52  77  63  68  71  35  55  82  81
  47  50  44  76  37  57  80  29  33  46  53  28  42  41  65  86  79  78
  70  40  72  89  69  85  92  17  49  94  88  43  91  26  58  51  22  18
  98  34  45  15  19  24  97  38   7  23  21  36  13  20  25  27  10   8
  14   9  11  12   6   2   4   3   5  16   1]
version [6.03]
bright_t31 [290.  299.4 303.1 303.2 301.5 298.9 298.8 300.6 300.2 299.7 300.5 302.1
 310.4 316.4 313.2 315.7 311.9 313.6 300.3 314.8 314.1 304.5 314.3 300.7
 310.  310.8 304.1 299.8 298.7 304.3 302.7 303.9 304.9 309.3 304.4 305.1
 306.6 305.5 305.  305.6 308.2 296.7 306.5 296.8 301.2 302.2 305.8 297.5
 296.9 299.9 299.5 304.2 305.2 305.4 302.6 303.3 305.3 299.3 300.  303.4
 301.4 301.1 302.5 302.8 301.6 300.9 293.4 300.8 303.  307.3 307.4 306.2
 303.7 301.8 303.5 304.  301.  303.8 302.4 306.4 302.3 302.9 305.9 307.7
 307.6 306.8 304.6 308.7 308.9 307.  306.9 309.8 297.1 301.9 298.5 294.2
 295.7 293.9 294.5 298.2 296.2 285.9 280.9 283.6 284.8 293.3 287.5 290.8
 289.8 294.9 282.5 280.7 282.8 277.1 278.1 280.8 280.5 279.2 286.9 276.9
 278.  277.9 278.2 279.4 279.  277.4 281.1 282.7 283.  279.9 279.5 278.8
 279.1 283.9 277.8 278.5 280.6 276.1 277.7 278.9 278.7 280.1 292.3 291.7
 295.4 292.9 299.1 296.6 304.8 294.6 311.7 311.3 301.3 314.5 312.5 301.7
 315.6 315.9 309.6 307.8 310.5 312.8 309.7 307.1 299.  321.6 318.9 319.5
 322.9 321.  320.7 320.9 322.5 312.6 313.9 322.1 320.3 315.1 319.7 315.
 319.4 321.8 316.6 320.4 317.4 316.  317.9 316.5 316.1 313.  314.4 312.3
 313.4 318.2 319.8 322.6 311.  317.  316.9 318.1 317.2 317.6 316.2 316.7
 314.6 317.7 318.5 318.3 311.4 297.2 320.  298.  295.8 300.1 319.1 297.6
 318.4 317.5 318.8 314.9 299.6 318.7 320.1 318.  319.6 327.8 328.3 324.
 298.3 323.4 315.2 312.  316.3 314.7 317.3 317.1 300.4 308.6 320.2 316.8
 315.8 315.4 323.  326.  320.5 312.2 313.5 312.4 322.  321.4 319.3 321.9
 323.5 323.2 329.1 312.9 320.8 314.2 319.  312.1 321.2 315.5 313.7 321.7
 317.8 319.9 321.1 330.6 313.8 314.  311.1 310.3 310.7 311.8 313.3 312.7
 292.6 291.1 288.7 292.1 292.  292.5 292.4 285.5 292.7 292.2 291.3 269.5
 267.7 294.7 294.  298.4 287.3 287.2 287.  290.9 290.2 289.5 291.6 293.5
 290.3 285.7 294.3 293.1 293.7 293.2 294.4 285.6 281.9 290.7 289.4 284.
 284.1 289.3 291.9 291.8 290.1 289.2 287.7 287.8 288.5 285.  284.6 275.7
 284.9 288.4 288.2 291.4 287.1 286.7 288.1 287.4 289.9 288.3 288.6 287.6
 292.8 280.4 279.8 277.6 274.1 279.7 280.  277.3 281.4 281.5 274.  276.8
 279.3 283.7 284.2 282.2 286.5 278.4 276.4 285.1 281.3 282.1 282.4 279.6
 281.  281.7 281.6 282.3 283.2 280.3 278.6 281.8 282.  285.8 280.2 284.5
 277.5 282.6 286.6 277.2 283.1 283.8 284.4 286.1 288.  286.4 286.  286.8
 286.2 291.5 290.5 289.7 290.6 289.  288.9 295.3 289.6 293.6 285.2 296.1
 295.6 295.9 296.5 296.4 297.  293.8 293.  281.2 294.1 296.3 296.  278.3
 274.5 274.6 291.  273.5 271.5 271.6 268.8 266.6 270.3 271.2 271.4 273.4
 270.7 271.1 271.9 272.1 274.2 276.6 269.8 270.2 272.  272.2 271.7 268.6
 270.5 288.8 282.9 283.4 284.3 270.4 273.3 272.9 273.7 275.9 285.4 287.9
 289.1 298.6 306.3 306.1 306.7 305.7 304.7 309.5 308.8 310.6 299.2 308.5
 307.2 308.  308.4 309.2 310.1 309.9 310.9 306.  307.9 308.3 309.  286.3
 277.  297.7 295.2 295.  297.9 298.1 291.2 290.4 310.2 297.4 276.  275.5
 303.6 315.3 311.2 311.6 307.5 308.1 309.4 311.5 313.1 309.1 297.8 283.5
 273.1 297.3 295.5 302.  294.8 285.3 268.9 268.3 267.1 266.1 265.6 266.5
 267.4 265.9 295.1 275.6 269.7 269.  270.6 270.  275.  274.4 283.3 272.7
 267.9 274.7 270.9 272.3 271.3 272.5 276.2 269.3 274.3 276.7 275.8 276.5
 275.3 318.6 325.7 325.2 273.2 273.6 284.7 270.1 269.4 266.9 265.3 271.
 269.6 266.3 267.3 271.8 275.2 268.7 268.  268.5 273.8 272.4 267.8 269.1
 272.8 273.9 268.1 275.1 274.8 319.2 324.9 320.6 322.4 321.3 326.5 326.1
 322.8 275.4 268.2 270.8 267.  266.4 322.7 274.9 266.2 267.2 266.7 276.3
 325.1 272.6 322.2 323.7 326.2 323.3 324.4 333.3 326.3 324.6 273.  323.8
 322.3 324.3 323.1 323.6 324.8 325.8 265.8 321.5 268.4 267.5 265.2 328.
 334.1 324.5 325.9 329.7 332.  323.9 338.7 345.8 342.9 330.8 342.6 343.
 324.1 328.9 332.8 326.6 267.6 265.4 264.9 264.8 332.2 269.2 266.  325.
 269.9 265.5 328.5 327.1 326.4 334.4 326.9 324.2 327.7 335.5 265.7 266.8
 264.6 325.3 325.4 326.7 265.  265.1 342.2 324.7 331.8 336.1 327.3 328.7
 331.9 341.6 331.3 336.3 343.2 331.6 325.5 327.  330.4 338.4 338.1 331.4
 327.5 335.9 330.2 329.  328.1 330.3 327.6 336.  335.8 329.6 327.2 329.2
 344.4 337.8 327.9 329.8 330.  328.2 339.7 337.1 337.6 330.5 350.4 351.5
 332.7 329.3 331.  341.3 343.6 335.2 332.5 328.6 330.9 327.4 325.6 337.3
 334.  326.8 329.9 329.4 335.1 333.9 332.9 333.8 331.1 328.8 332.1 336.5
 334.7 350.7 334.3 332.3 349.1 337.2 338.8 337.7 333.6 346.8 333.1 343.1
 367.3 335.4 333.2 349.8 334.2 365.3 373.6 335.6 336.2 335.7 342.5 341.5
 348.5 346.6 333.5 329.5 330.1 344.9 374.8 339.6 368.5 386.1 373.9 332.6
 341.8 337.4 331.5 328.4 337.  333.4 344.1 345.4 338.5 344.3 335.3 346.2
 330.7 352.8 350.1 364.5 345.7 331.2 351.  345.5 347.5 349.7 334.5 334.9
 341.7 340.2 357.8 334.6 341.  340.5 358.1 348.1 345.6 339.2 347.7 358.7
 341.2 341.1 341.4 342.4 346.7 339.9 349.4 336.7 340.3 346.1 365.  373.1
 357.6 351.7 334.8 336.6 348.6 333.7 339.4 358.3 339.5 361.9 340.7 340.8
 374.  360.9 346.  337.9 340.4 349.6 362.5 371.9 338.  354.2 350.6 343.5
 347.3 356.5 362.2 264.4 357.1 347.  340.6 350.3 341.9 349.  351.1 336.8
 346.9 343.9 332.4 354.7 354.6 333.  340.9 339.8 339.  331.7 336.4 338.3
 336.9 345.  348.3 335.  376.4 347.4 348.  352.9 350.8 371.2 339.1 366.
 344.6 345.9 372.9 359.6 361.7 369.  368.  356.3 356.8 355.1 359.2 356.9
 337.5 345.1 348.8 342.8 363.4 338.9 380.8 342.  372.7 368.4 362.4 338.6
 347.2 344.  363.9 343.8 362.3 352.2 352.3 344.7 351.3 375.1 369.3 342.3
 377.8 387.1 340.1 342.1 340.  386.4 362.8 349.3 346.5 356.1 360.8 347.1
 338.2 347.6 347.8 348.7 358.5 344.5 346.4 363.5 361.1 361.2 368.6 350.9
 366.8 365.7 355.8 363.8 353.5]
frp [  35.1   32.8   77.4 ... 1031.6  706.5  773.2]
daynight [1 0]
type [0 2 3 1]

In [10]:
#gdf = gdp.GeoDataFrame(df, geometry=gdp.points_from_xy(df.longitude, df.latitude))

In [11]:
df.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,confidence,version,bright_t31,frp,daynight,type
0,-5.9659,147.1301,310.2,3.9,1.8,2000-11-01,13,0,6.03,290.0,35.1,1,0
1,-18.6804,145.5470,317.3,2.9,1.6,2000-11-01,16,54,6.03,299.4,32.8,1,0
2,-18.4459,144.8904,324.6,3.2,1.7,2000-11-01,16,74,6.03,303.1,77.4,1,0
3,-18.4401,144.8603,317.7,3.3,1.7,2000-11-01,16,61,6.03,303.2,38.5,1,0
4,-18.4005,144.9007,318.8,3.2,1.7,2000-11-01,16,64,6.03,301.5,42.6,1,0

In [12]:
df.dtypes

latitude      float64
longitude     float64
brightness    float64
scan          float64
track         float64
acq_date       object
acq_time        int64
confidence      int64
version       float64
bright_t31    float64
frp           float64
daynight        uint8
type            int64
dtype: object

In [13]:
df

,latitude,longitude,brightness,scan,track,acq_date,acq_time,confidence,version,bright_t31,frp,daynight,type
0,-5.9659,147.1301,310.2,3.9,1.8,2000-11-01,13,0,6.03,290.0,35.1,1,0
1,-18.6804,145.5470,317.3,2.9,1.6,2000-11-01,16,54,6.03,299.4,32.8,1,0
2,-18.4459,144.8904,324.6,3.2,1.7,2000-11-01,16,74,6.03,303.1,77.4,1,0
3,-18.4401,144.8603,317.7,3.3,1.7,2000-11-01,16,61,6.03,303.2,38.5,1,0
4,-18.4005,144.9007,318.8,3.2,1.7,2000-11-01,16,64,6.03,301.5,42.6,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1771382,42.0806,-8.2196,302.3,2.5,1.5,2001-11-01,2159,48,6.03,280.9,30.6,0,0
1771383,42.0876,-8.2180,305.3,2.5,1.5,2001-11-01,2159,64,6.03,280.6,39.9,0,0
1771384,51.4854,6.7186,300.4,1.8,1.3,2001-11-01,2200,28,6.03,278.6,19.3,0,2
1771385,49.7103,2.5315,302.2,1.2,1.1,2001-11-01,2200,47,6.03,271.2,12.0,0,0
1771386,53.5698,-0.5983,301.0,1.1,1.0,2001-11-01,2201,37,6.03,277.8,8.9,0,2

In [14]:
df= df.dropna()
df

,latitude,longitude,brightness,scan,track,acq_date,acq_time,confidence,version,bright_t31,frp,daynight,type
0,-5.9659,147.1301,310.2,3.9,1.8,2000-11-01,13,0,6.03,290.0,35.1,1,0
1,-18.6804,145.5470,317.3,2.9,1.6,2000-11-01,16,54,6.03,299.4,32.8,1,0
2,-18.4459,144.8904,324.6,3.2,1.7,2000-11-01,16,74,6.03,303.1,77.4,1,0
3,-18.4401,144.8603,317.7,3.3,1.7,2000-11-01,16,61,6.03,303.2,38.5,1,0
4,-18.4005,144.9007,318.8,3.2,1.7,2000-11-01,16,64,6.03,301.5,42.6,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1771382,42.0806,-8.2196,302.3,2.5,1.5,2001-11-01,2159,48,6.03,280.9,30.6,0,0
1771383,42.0876,-8.2180,305.3,2.5,1.5,2001-11-01,2159,64,6.03,280.6,39.9,0,0
1771384,51.4854,6.7186,300.4,1.8,1.3,2001-11-01,2200,28,6.03,278.6,19.3,0,2
1771385,49.7103,2.5315,302.2,1.2,1.1,2001-11-01,2200,47,6.03,271.2,12.0,0,0
1771386,53.5698,-0.5983,301.0,1.1,1.0,2001-11-01,2201,37,6.03,277.8,8.9,0,2

In [15]:
df=df.drop(columns=['scan','track','acq_time','version','latitude','longitude','acq_date'], axis=1)

In [16]:
df

         brightness  confidence  bright_t31   frp  daynight  type
0             310.2           0       290.0  35.1         1     0
1             317.3          54       299.4  32.8         1     0
2             324.6          74       303.1  77.4         1     0
3             317.7          61       303.2  38.5         1     0
4             318.8          64       301.5  42.6         1     0
...             ...         ...         ...   ...       ...   ...
1771382       302.3          48       280.9  30.6         0     0
1771383       305.3          64       280.6  39.9         0     0
1771384       300.4          28       278.6  19.3         0     2
1771385       302.2          47       271.2  12.0         0     0
1771386       301.0          37       277.8   8.9         0     2

[1771387 rows x 6 columns]

In [17]:
df['type']=df['type'].astype(int)

In [18]:
y= df['type']

In [19]:
df=df.drop(columns=['type'], axis=1)
X= df

In [20]:
X

         brightness  confidence  bright_t31   frp  daynight
0             310.2           0       290.0  35.1         1
1             317.3          54       299.4  32.8         1
2             324.6          74       303.1  77.4         1
3             317.7          61       303.2  38.5         1
4             318.8          64       301.5  42.6         1
...             ...         ...         ...   ...       ...
1771382       302.3          48       280.9  30.6         0
1771383       305.3          64       280.6  39.9         0
1771384       300.4          28       278.6  19.3         0
1771385       302.2          47       271.2  12.0         0
1771386       301.0          37       277.8   8.9         0

[1771387 rows x 5 columns]

In [21]:
import sklearn
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

In [ ]:
from sklearn import svm
#create a classifier
cls = svm.SVC(kernel="linear")
#train the model
cls.fit(X_train,y_train)
#predict the response
pred = cls.predict(X_test)

In [ ]:
from sklearn import metrics
#accuracy
print("acuracy:", metrics.accuracy_score(y_test,y_pred=pred))
#precision score
print("precision:", metrics.precision_score(y_test,y_pred=pred))
#recall score
print("recall" , metrics.recall_score(y_test,y_pred=pred))
print(metrics.classification_report(y_test, y_pred=pred))

In [ ]:
# Save the trained model as a pickle string. 
saved_model = pickle.dumps(pred) 
  
# Load the pickled model 
cls_from_pickle = pickle.loads(saved_model) 
  
# Use the loaded pickled model to make predictions 
cls_from_pickle.predict(X_test)